.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  height: 70px;
  width: 90%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.container{
  height: inherit;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.item{
  cursor: pointer;
  margin: 3px 5px;
}

.loadedContent{
  width: 90%;
}

.header-text{
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 1px;
  margin-left: 5px;
}

input{
  border: 1px solid lightgrey;
  border-radius: 3px;
  height: 30px;
  width: 40px;
  font-weight: 600;
  text-align: center;
  font-size: 15px;
  margin-right: 5px;
}

.btn-load{
  background-color: #423189;
  color: white;
  border: 0;
  border-radius: 5px;
  width: 150px;
  font-size: 15px;
  letter-spacing: 1px;
}

.btn-load:hover{
  cursor: pointer;
  background-color: #302462;
  transition: 300ms;
}

/*React-images*/
.close_1x3s325{
  position: fixed !important;
  padding: 20px !important;
  top: 0px !important;
  right: 20px !important;
  width: 70px !important;
  height: 70px !important;
}